.taskRow {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #000;
}

.taskTitle {
  margin-left: 15px;
  margin-right: auto;
  font-size: 1em;
  cursor: pointer;
  background: none;
}

.taskTitle:hover {
  text-decoration: underline;
}

.taskRow .ampliar {
    margin-left: 20px;
    text-align: center;
}
