.taskRow {
  width: 80%;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskTitle {
  color: white;
  margin-left: 15px;
  margin-right: auto;
  font-size: 1em;
  cursor: pointer;
  background: none;
}

.taskTitle:hover {
  text-decoration: underline;
}
