.taskDelete {
	height: 100%;
	padding: 10px;
	color: #8d65e3;
	background: none;
	border: 1px solid #000;
	cursor: pointer;
	transition: all 0.1s ease;
}

.taskDelete:hover {
	color: #ff0033;
}

.taskDelete img {
	height: 100%;
	background: none;
}
