.taskDelete {
	height: 100%;
	padding: 10px;
	color: #8d65e3;
	background: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.taskDelete:hover {
	color: #ff0033;
}

.taskDelete img {
	height: 100%;
	background: none;
}
