.taskCompleted {
	width: 1.5%;
	height: 1.5%;
	margin-right: 30px;
	position: relative;
	padding: 0px;
	border: 2px solid #000;
	border-radius: 12px;
	cursor: pointer;
	background-color: var(--purple-light);
}

.taskCompleted .taskCheckbox:checked ~ .taskCheckmark {
	background-color: var(--green);
}

.taskCompleted .taskCheckbox {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.taskCompleted .taskCheckmark {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.15s ease-in-out;
}

.taskCompleted:hover .taskCheckmark {
	background: var(--purple-dark-dull);
}

.taskCompleted:hover .taskCheckbox:checked ~ .taskCheckmark {
	background-color: #029672;
}
