main {
    height: 84vh;
    width: 80vw;
    border: 1px solid #000;
    display: flex;
    flex-direction: column; /* header em cima, conteúdo embaixo */
    position: relative;
    background-color: var(--background-window-dark);
}

.backgroundNameTop {
    position: fixed;
    z-index: 0;
    left: 10vw;
    bottom: 33vw;
    font-size: 12vw;
    font-family: SixtyFour;
    color: var(--purple-darkest);
}

.backgroundNameBottom{
    position: fixed;
    z-index: -1;
    right: 16vw;
    top: 35vw;
    font-size: 12vw;
    font-family: SixtyFour;
    color: var(--purple-darkest);
}

.content {
    display: flex; /* tasklist e rightsection lado a lado */
    flex: 1;       /* ocupa o restante do espaço do main */
}
