.taskList {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnAddTask {
	width: 40%;
	height: 2em;
	margin: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btnAddTask:hover {
	border: 1px solid #000;
}

.newTask {
	width: 80%;
	margin: 20px;
	display: flex;
}

.newTask .newTaskInput {
	width: 90%;
	margin-left: 15px;
	margin-right: auto;
	font-size: 1em;
	background: none;
}

.newTask .btnNewTaskConfirm {
	width: 50px;
	border: none;
	cursor: pointer;
}

.newTask .btnNewTaskConfirm:hover {
	border: 1px solid #000;
}
